{% extends 'parent.html.twig' %}

{% block content %}
    <div class="col-sm-12 my-5">
        <h1>Mentions légales</h1>
    </div>

    <div class="col-sm-12 mb-5">
        <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum, ipsa.</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum doloremque eius eum iusto nihil totam velit
            voluptates. Assumenda, cumque, soluta. A ab alias aperiam atque, beatae debitis distinctio doloribus
            facilis, natus nostrum pariatur provident quae quam quia recusandae rem similique sint soluta sunt
            voluptates. Architecto deserunt molestias non nostrum officia sit sunt, ut. Blanditiis dicta eius ex labore
            mollitia quis saepe vero! Fuga, magnam, odio. Animi aut commodi corporis cumque deserunt ea et ex id itaque
            laboriosam magni molestiae, necessitatibus non obcaecati placeat quaerat rem, repellendus sint sit suscipit
            ullam, unde voluptate. Ab accusamus dicta dolorem ea eveniet hic in molestias officia, possimus quod
            repudiandae sapiente sequi. Earum eligendi explicabo labore pariatur perferendis, sit vitae. Commodi
            eligendi molestiae placeat qui quisquam. Ab deleniti natus necessitatibus pariatur, quam recusandae
            temporibus ut? Accusamus aspernatur assumenda cupiditate, debitis deleniti dolore doloribus eius esse
            excepturi facere fuga id, libero nulla numquam perferendis repudiandae sint.</p>

        <h2>Lorem ipsum dolor sit amet.</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, aliquam autem blanditiis cumque doloribus
            eius minus nobis perferendis provident tenetur voluptas voluptates voluptatibus. Dolorem expedita illum
            incidunt maiores nihil possimus recusandae saepe similique. Adipisci dicta labore minima. A alias aperiam
            architecto asperiores autem blanditiis, commodi consectetur consequatur deserunt dignissimos distinctio
            dolorem dolorum eaque eum hic illo ipsum iste itaque iusto laboriosam libero maiores molestiae nam, nemo
            quam quis quisquam quo rerum soluta sunt suscipit voluptas.</p>

        <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam nihil rerum sequi.</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias at consequatur eos ex explicabo hic, impedit,
            ipsa iusto nam nisi quae quis reiciendis sapiente sint tempora veniam voluptatibus. Adipisci atque
            distinctio dolor, dolore dolorem dolores, eaque et iure minima minus mollitia nesciunt quas, recusandae sit
            ullam voluptatem voluptatum. Nulla obcaecati odio repellat similique? At fugit iste laborum laudantium magni
            nihil porro quaerat, quam similique soluta, tenetur totam! Consectetur consequuntur deleniti et nulla
            voluptas! Aperiam aspernatur at atque autem blanditiis corporis culpa cumque distinctio dolor doloremque
            dolores eius eos esse est facere ipsa ipsum itaque labore magnam minima minus natus nulla numquam, obcaecati
            odio omnis optio quaerat quibusdam quis quo rerum sint ullam unde ut vel vero voluptate. Adipisci, assumenda
            at beatae, consectetur delectus deleniti dicta, dignissimos esse facilis hic ipsa laboriosam laudantium
            mollitia nemo repellendus tempora veniam? Consectetur deleniti itaque modi odit saepe. Aperiam aut facere
            sunt velit. Animi assumenda blanditiis dicta ipsum itaque placeat, quibusdam velit. Architecto atque aut
            dolores excepturi incidunt itaque, iure molestiae necessitatibus, nihil nobis numquam omnis pariatur ratione
            reprehenderit similique sit temporibus, voluptates? Accusamus aliquid architecto, asperiores consectetur
            dolorem doloremque error labore laborum laudantium modi molestiae neque nulla odio quo sequi similique
            veritatis? Blanditiis, eius?</p>
    </div>
{% endblock %}
