{% extends 'parent.html.twig' %}

{% block content %}
    <div class="col-sm-12">
        <h1 class="mb-3">Modification de {{ artwork.name }}</h1>

        {% include('admin/artwork/form.html.twig') %}
    </div>
{% endblock %}