{% extends 'parent.html.twig' %}

{% block content %}
    {% for categoryName, artworks in artworksByCategory %}
        <div class="col-sm-12 mt-5 mb-3">
            <h2>{{ categoryName }}</h2>
        </div>

        {% for artwork in artworks %}
            <div class="col-sm-4 mb-4">
                {% include 'inc/card.html.twig' with { 'artwork': artwork } %}
            </div>
        {% endfor %}
    {% endfor %}
{% endblock %}