<footer class="page-footer font-small bg-light py-4">
    <div class="container-fluid text-center text-md-left">
        <div class="row">
            <div class="col-md-3 text-right text-uppercase my-auto">
                <h5>{{ site_name }}</h5>
            </div>
            <div class="col-md-3 mb-md-0 mb-3"></div>
            <div class="col-md-3 mb-md-0 mb-3">
                <h5 class="text-uppercase">&nbsp;</h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="#!">Accueil</a>
                    </li>
                    <li>
                        <a href="#!">Expositions</a>
                    </li>
                    <li>
                        <a href="#!">Contact</a>
                    </li>
                    <li>
                        <a href="#!">Mentions légales</a>
                    </li>
                </ul>

            </div>
            <div class="col-md-3 mb-md-0 mb-3">
                <h5>Œuvres</h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="#!">Tout</a>
                    </li>

                    {% for category in categories %}
                        <li>
                            <a href="#!">{{ category.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</footer>